<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Potrawy Wigilijne</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', path='/function.js') }}"
    ></script>
    <script type="javascript">

      
      (function () {
        var ShopAppInstance = new ShopApp(function(app) {
          app.init({show: true}, function(params, app) {
              if (localStorage.getItem('styles') === null) {
                  for(var x = 0; x < params.styles.length; ++x) {
                      var el = document.createElement('link');
                      el.rel = 'stylesheet';
                      el.type = 'text/css';
                      el.href = params.styles[x];
                      document.getElementsByTagName('head')[0].appendChild(el);     
                  }
              }
              localStorage.setItem('styles', JSON.stringify(params.styles));
        
              app.show({show: true} ,function () {
                  app.adjustIframeSize();
              });
          }, function(errmsg, app) {
              alert(errmsg);
          });
        }, true);
        ShopAppInstance().show({show: true})
          var styles;
          var sLength;
          var el;
  
          if (localStorage.getItem('styles') === null) {
              return false;
          }
  
          styles = JSON.parse(localStorage.getItem('styles'));
          sLength = styles.length;
  
          for (var x = 0; x < sLength; ++x) {
              el = document.createElement('link');
              el.rel = 'stylesheet';
              el.type = 'text/css';
              el.href = styles[x];
              document.getElementsByTagName('head')[0].appendChild(el);
          }
      }());
  </script>
  </head>
  <body onload="get_list('')">
    <script src="https://dcsaascdn.net/js/dc-sdk-1.0.5.min.js"></script>
    <div class="jumbotron text-center">
      <h1>Potrawy Wigilijne</h1>
    </div>
    <div class="dropdown">
      <div class="btn-group dropright">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Wybierz kategorie potraw wigilijnych
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" onclick="get_list('Śledzie')">Śledzie</a>
          <a class="dropdown-item" onclick="get_list('Ciasta')">Ciasta</a>
          <a class="dropdown-item" onclick="get_list('Mięso')">Mięso</a>
          <a class="dropdown-item" onclick="get_list('Sałatki')">Sałatki</a>
          <a class="dropdown-item" onclick="get_list('')"
            >Wszystkie kategorie</a
          >
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Zdjęcie</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Przepis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25"></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
